$color-global-text: #282828;
$color-primary-background: #ffffff;
$color-interactive-elements: #335576;
$color-divider: #5C667E;
$color-hamburger-background: #BDC5D5;
$color-hamburger-stripes: #232940;
$color-outline: #158463;