$color-global-text: #282828;
$color-primary-background: #ffffff;
$color-secondary-background: #f7f8f9;
$color-tertiary-background: #eae8e0;
$color-cta-background: #6995E4;
$color-interactive-elements: #335576;
$color-divider: #5C667E;
$color-hamburger-background: #BDC5D5;
$color-hamburger-stripes: #232940;
$color-form-background: #E3F0F4;
$color-placeholder-background: #EBEDF0;
$color-outline: #158463;
