$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
$breakpoint-small-laptop: 1024px;

@mixin small-laptop {
    @media (min-width: $breakpoint-small-laptop){
        @content;
    }
}

@mixin tablet {
    @media (min-width: $breakpoint-tablet){
        @content;
    }
}

@mixin desktop {
    @media (min-width: $breakpoint-desktop){
        @content;
    }
}