@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.storage{
    background-color: rgba($color-hamburger-background, 0.1);

    @include tablet{
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        border-top: 1px solid rgba(92, 102, 126, 0.5)
    }

    @include desktop{
        max-width: 120rem;
        margin: 0 auto;
    } 
    &__container{
        padding: 1rem;

        @include desktop{
            padding: 0;
            margin-left: 5rem;
        }
    }

    &__title{
        margin-bottom: 1rem;

        @include tablet{
            margin-left: 2rem;
            font-size: 1.5rem;
        }

        @include desktop{
            margin-top: 1rem;
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
        background-color: $color-primary-background;
        border: 0px solid rgba($color-divider, 0.5);
        box-shadow: .3rem .3rem .3rem rgba(19, 24, 44, 0.4);
        border-radius: 4px;
        padding: 1rem;

        @include tablet{
            margin: 1rem 1rem 2rem 2rem ;
            max-width: 15rem;
        }
    }

    &__icon-wrapper{
        display: flex;
        align-items: center;
        width: 13rem;
    }

    &__icon{
        width: 2.5rem;
    }

    &__input-wrapper{
        margin: 1rem 0;
    }

    &__input{
        width: 100%;
        height: 2.5rem;
        border-radius: 6px;
        padding: 1rem;
        outline: none;
        border: 1px solid rgba($color-divider, 0.2);
        &:focus{
            border: 1px solid rgba($color-outline, 0.4);
        }
    }

    &__option-wrapper{
        position: relative;
        border-radius: 4px;

        @include tablet{
        margin-right: 3rem;

        }
    }

    &__option-select{
        border-radius: 4px;
        height: 2rem;
        padding: 0 0.5rem;
        margin: 0.5rem 0 1rem;
        outline: none;
        font-weight: 500;
        border: 1px solid rgba($color-divider, 0.2);
        overflow: hidden;
        &:focus{
            border: 1px solid rgba($color-outline, 0.4);
        }
    }

    &__date-wrapper{
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
    }
    
    &__date{
        font-family: inherit;
        @extend .storage__option-select;

    }

    &__cta-wrapper{
        display: flex;

        @include tablet{
            align-items:flex-end;
        }
    }

    &__cta{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 0 1rem;
        width: 100%;
        height: 2.5rem;
        font-weight: 600;
        background-color: rgba($color-cta-background, 0.6);
        color: $color-global-text;
        border: none;
        border-radius: 6px;
        &:nth-child(1){
            background-color: $color-primary-background;
            font-size: .8rem;
            &:hover{
                background-color: $color-secondary-background;
                color: $color-secondary-cta;
            }
        }
        &:hover{
            background-color: $color-interactive-elements;
            color: $color-primary-background;
            cursor: pointer;
        }
    }

    &__aside-component{
        margin-top: 1rem;
        padding: 0rem 1rem ;

        @include tablet{
            margin-top: 0;
            width: 100%;
            margin-left: 1rem;
            padding: 0 2rem;
            border-left: 1px solid rgba(92, 102, 126, 0.5);
        }
    }

    &__aside-heading{

        @include tablet{
            margin-top: 1rem;
            font-size: 1.5rem;
        }
    }
    }

    .storage__error{

        @include tablet{
            margin-left: 2rem;
        }
    }