@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.statistics{
    background-color: $color-tertiary-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    @include tablet{
        padding: 2rem;
        align-items: flex-start;
        max-width: 80rem;
        margin: 0 auto;
    }

    &__heading{
        text-align: center;
        padding-bottom: 0.5rem;
        padding-left: 0.4rem;
        border-bottom: 1px solid $color-divider;
    }

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet{
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__context-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 1rem 0;

        @include tablet{
            border: 4px solid $color-global-text;
            align-items: flex-start;
            text-align: left;
            width: 50%;
            padding: 1rem;
        }
    }

    &__text{
        margin-top: 1rem;

    }
    &__link{
        text-transform: uppercase;
        font-weight: 600;
        color: $color-interactive-elements;
        padding: 1rem 0.5rem 0.5rem;
        &:hover{
            text-decoration: underline;
        }

        @include tablet{
            font-size: 1.3rem;
        }
    }

    &__image{
        width: 15rem;
        border-radius: 4px;

        @include tablet{
            width: 20rem;
        }
    }
}