@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.details{
    margin-top: 1rem;

    &__container{
        display: flex;
        flex-direction: column;
        background-color: $color-primary-background;
        border: 0px solid rgba($color-divider, 0.5);
        box-shadow: .3rem .3rem .3rem rgba(19, 24, 44, 0.4);
        border-radius: 4px;
        padding: 1rem 0;
        margin: 1rem 0;

        @include desktop{
            max-width: 86rem;
        }
    }

    &__title-wrapper{
        display: flex;
        margin-bottom: 0.5rem;
        padding: 0 1rem;
    }

    &__food-title{
        margin-right: 1rem;

    }

    &__aside-wrapper{
        display: flex;
        padding: 0 1rem;
    }

    &__image-wrapper{
        display: flex;
        align-items: center;
        margin-right: 1rem;
    }

    &__image{
        width: 6.25rem;
        height: 100px;
        border-radius: 4px;
        object-fit: cover;
    }
}

.food{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

    @include tablet{

    }

    &__accordion{
        opacity: 0;
    }


    &__content-heading{
        text-transform: uppercase;
    }

    &__icon{
        width: 1.5rem;
        height: 1.6rem;
        cursor: pointer;
    }

    &__accordion-content-wrapper{
        display: flex;
        flex-direction: row;
        padding: 0 1rem;
        justify-content: space-between;
        align-items: center;
    }

}
