@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.footer{

    @include desktop{
        max-width: 120rem;
        margin: 0 auto;

    }
    padding: 1rem;
    background-color: rgba($color-quaternary-background, 0.6);

    &__copyright{
        text-align: center;
    }
}
