@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.footer{
    padding: 1rem;
    background-color: rgba($color-quaternary-background, 0.6);

    &__wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 1rem;
    }

    &__about-lists{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    &__lists{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__icons{
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }

    &__icon{
        margin-top: 0.5rem;
        margin-bottom: 1rem; 
    }

    &__copyright{
        margin-left: 3rem;
        text-align: center;
    }
}
