@use "./styles/partials/colors" as *;
@use "./styles/partials/fonts" as *;
@use "./styles/partials/mixins" as *;

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "kumbh";
  color: $color-global-text;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}