@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.trackBar{
  position: relative;
  display: flex;
  align-items: center;
  height: 1rem;
  width: 100%;
  border: 1px solid rgba($color-outline, 0.4);
  border-radius: 25px;
  background-color: rgba($color-divider, 0.4);

  &__inner{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    transition: width 100ms ease-out;
  }
}
  
